@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");



@keyframes rgb{
  0%{
    color: red;
  }
  50%{
    color: green;
  }
  
  100%{
    color: blue;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 0) 100%,
    rgba(0, 212, 255, 0) 100%
  );
  font-family: "Raleway", sans-serif;
}

header a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}

.link:hover {
  color: #ffffff;
  border-bottom:2px solid #ffffff;
}

.logo {
  font-size: xx-large;
}

header li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}


.logo:hover{
  animation: rgb 10s infinite;

}



