@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes rgb {
  0% {
    color: red;
  }
  50% {
    color: green;
  }

  100% {
    color: blue;
  }
}

header {
  font-family: "Raleway", sans-serif;
  z-index: 1000;
  position: relative;
}

header a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}

.link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

header li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}

.logo:hover {
  animation: rgb 10s infinite;
}
.navbar-collapse {
  position: absolute;
  width: 100%;
  z-index: 1002; 
}


@media only screen and (max-width: 900px) {
  /* Celulares maiores */
  .link:hover {
    width: 17%;
  }
     }