.infoText {
  position: absolute;
  left: 2rem;
  top: 18rem;
  box-sizing: border-box;
}
.infoText p {
  max-width: 400px;
}

.infoContainer img {
  border-radius: 10px;
  mask-image: linear-gradient(to top, transparent 10%, black 90%);
  opacity: 0.9;
  width: 100vw;
  height: 600px;
  border: 2px solid whitesmoke;
}

.btnRecommended {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.4s;
}
.btnRecommended:hover {
  box-shadow: 0px 2px 20px 1px rgba(154, 9, 12, 1);
  transition: all 0.4s;
  color: white;
  animation: rgb 5s infinite;
}

@keyframes rgb {
  0% {
    background-color: red;
  }
  50% {
    background-color: green;
  }

  100% {
    background-color: blue;
  }
}

@media screen and (max-width: 768px) {
  .titleContainer {
    width: 300px;
  }
}

@media screen and (max-width: 430px) {
  .descContainer {
    width: 344px;
  }
}
